@import '../../../scss/variables';

.MainHero {
  position: relative;

  &.ImageLeft .BgImage {
    .Container {
      .LeftSide {
        @media (min-width: $sm) {
          margin-right: 32px;
          grid-column: 2;
          grid-row: 1;
        }

        @media (min-width: $md) {
          margin-right: 120px;
        }

        @media (min-width: $xl) {
          margin-right: 180px;
        }
      }
    }

    @media (min-width: $sm) {
      background-position: center left;
    }
  }

  &.ImageRight .BgImage {
    .Container {
      .LeftSide {
        @media (min-width: $sm) {
          margin-left: 32px;
        }

        @media (min-width: $md) {
          margin-left: 120px;
        }

        @media (min-width: $xl) {
          margin-left: 180px;
        }
      }
      @media (min-width: $sm) {
        grid-column: 1;
        grid-row: 1;
      }
    }

    @media (min-width: $sm) {
      background-position: center right;
    }
  }

  &.ImageFull {
    .BgImage {
      @media (min-width: $sm) {
        min-height: 340px;
        background-size: 50% auto;
      }

      @media (min-width: $md) {
        min-height: 430px;
      }

      @media (min-width: $lg) {
        min-height: 520px;
      }

      @media (min-width: $xl) {
        min-height: 680px;
      }

      @media (min-width: $xl2) {
        min-height: 800px;
      }
    }

    @media (min-width: $sm) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &.ImageAuto {
    .BgImage {
      background-image: none !important;

      .Container .RightSide {
        display: block !important;
      }
    }

    @media (min-width: $sm) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .GoBackBtn {
    position: absolute;
    top: 20px;
    left: 20px;

    @media (min-width: $sm) {
      top: 32px;
      left: 32px;
    }

    @media (min-width: $md) {
      top: 40px;
      left: 40px;
    }
  }

  .BgImage {
    .Container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      row-gap: 32px;
      min-height: inherit;

      .LeftSide {
        .Title {
          margin-top: 64px;
          margin-bottom: 24px;

          &.TopSpace {
            margin-top: 90px;

            @media (min-width: $md) {
              margin-top: 0;
            }
          }

          @media (min-width: $md) {
            margin-top: 0;
            margin-bottom: 32px;
          }
        }

        .PlatformCardDesc {
          display: none !important;

          @media (min-width: $sm) {
            display: block !important;
            margin-top: 32px;
          }
        }
      }

      .RightSide {
        text-align: center;

        .Image {
          width: 100%;
        }

        @media (min-width: $sm) {
          display: none;
        }
      }

      .PlatformCardMob {
        display: block !important;
        margin-bottom: 64px;
        width: 100%;

        @media (min-width: $sm) {
          display: none !important;
        }
      }

      @media (min-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }

      @media (min-width: $md) {
        column-gap: 24px;
      }
    }

    @media (min-width: $sm) {
      background-position: center right;
      background-repeat: no-repeat;
    }

    @media (max-width: $sm) {
      background-image: none !important;
    }
  }
}
