@import '../../../styles/helper.scss';

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-neutral-0);
  border: 1px solid transparent;
  transition: color var(--trans), background-color var(--trans), border-color var(--trans), box-shadow var(--trans);
  cursor: pointer;

  &.Xs {
    padding: 8px 16px;
    font-size: 14px;

    &.Rounded {
      border-radius: 20px;
    }

    &.Squared {
      border-radius: 5px;
    }
  }

  &.Sm {
    padding: 10px 16px;
    font-size: 16px;

    &.Rounded {
      border-radius: 30px;
    }

    &.Squared {
      border-radius: 6px;
    }
  }

  &.Md {
    padding: 12px 24px;
    font-size: 18px;

    &.Rounded {
      border-radius: 40px;
    }

    &.Squared {
      border-radius: 8px;
    }
  }

  &.Lg {
    padding: 20px 32px;
    font-size: 20px;

    &.Rounded {
      border-radius: 50px;
    }

    &.Squared {
      border-radius: 10px;
    }
  }

  &:hover {
    box-shadow: var(--shadow-1);

    &.Filled {
      background-color: var(--color-primary-200);
    }

    &.Outlined {
      border-color: var(--color-secondary-200);
    }
  }

  &:active {
    &.Filled {
      background-color: var(--color-primary-600);
    }

    &.Outlined {
      background-color: var(--color-secondary-200);
      border-color: var(--color-secondary-200);
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    &.Filled {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }

    &.Outlined {
      color: var(--color-neutral-400);
      background-color: var(--color-neutral-50);
      border-color: var(--color-neutral-400);
    }
  }

  .Children {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: inherit;
  }
}
