@import '../../../styles/helper.scss';

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid transparent;
  transition: color var(--trans), background-color var(--trans), border-color var(--trans);
  cursor: pointer;

  &.Xs {
    padding: 8px 16px;
    font-size: 14px;

    &.Rounded {
      border-radius: 20px;
    }

    &.Squared {
      border-radius: 5px;
    }
  }

  &.Sm {
    padding: 10px 16px;
    font-size: 16px;

    &.Rounded {
      border-radius: 20px;
    }

    &.Squared {
      border-radius: 6px;
    }
  }

  &.Md {
    padding: 12px 24px;
    font-size: 18px;

    &.Rounded {
      border-radius: 24px;
    }

    &.Squared {
      border-radius: 8px;
    }
  }

  &.Lg {
    padding: 20px 32px;
    font-size: 20px;

    &.Rounded {
      border-radius: 32px;
    }

    &.Squared {
      border-radius: 10px;
    }
  }

  @mixin colorStylesLocal($color-primary, $color-secondary) {
    &.Filled {
      color: $color-secondary;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &.Outlined {
      color: $color-primary;
      background-color: transparent;
      border-color: $color-primary;
    }

    &:not(:disabled):hover {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-900);
      border-color: var(--color-neutral-900);
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-neutral-800), var(--color-neutral-0));
  }

  &.White {
    @include colorStylesLocal(var(--color-neutral-0), var(--color-neutral-900));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-warning-400), var(--color-neutral-0));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-warning-600), var(--color-neutral-0));
  }

  &.Red {
    @include colorStylesLocal(var(--color-danger-500), var(--color-neutral-0));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-primary-400), var(--color-neutral-0));
  }

  &.Green {
    @include colorStylesLocal(var(--color-success-400), var(--color-neutral-0));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-secondary-500), var(--color-neutral-0));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-secondary-700), var(--color-neutral-0));
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    &.Filled {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }

    &.Outlined {
      color: var(--color-neutral-400);
      background-color: var(--color-neutral-50);
      border-color: var(--color-neutral-400);
    }
  }

  .Children {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}
