.Checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @mixin colorStylesLocal($color-primary, $color-secondary) {
    .Checked {
      color: $color-secondary;
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-black2), var(--color-white));
  }

  &.White {
    @include colorStylesLocal(var(--color-white), var(--color-black));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-yellow), var(--color-white));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-orange), var(--color-white));
  }

  &.Red {
    @include colorStylesLocal(var(--color-red), var(--color-white));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-rose), var(--color-white));
  }

  &.Green {
    @include colorStylesLocal(var(--color-green), var(--color-white));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-teal), var(--color-white));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-turquoise), var(--color-white));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-blue), var(--color-white));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-purple), var(--color-white));
  }

  &.Disabled {
    pointer-events: none;
    cursor: default;

    .Checked,
    .Unchecked {
      background-color: var(--color-black9);
      border-color: var(--color-black8);

      > svg {
        fill: var(--color-black8);
      }
    }
  }

  .Label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black3);
    user-select: none;
  }

  .Unchecked,
  .Checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border-color var(--trans), background-color var(--trans);

    > svg {
      width: 12px;
      height: 12px;
      fill: currentColor;
      transition: opacity var(--trans-fast);
    }
  }

  .Checked > svg {
    opacity: 1;
  }

  .Unchecked {
    background-color: var(--color-white);
    border-color: var(--color-black8);

    > svg {
      opacity: 0;
    }

    &:hover,
    &:focus {
      border-color: var(--color-black5);
    }
  }

  > input {
    display: block;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
