.Checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &.Disabled {
    pointer-events: none;
    cursor: default;

    .Checked,
    .Unchecked {
      background-color: var(--color-neutral-100);
      border-color: var(--color-neutral-200);

      > svg {
        fill: var(--color-neutral-200);
      }
    }
  }

  .Label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-neutral-700);
    user-select: none;
  }

  .Unchecked,
  .Checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color var(--trans), border-color var(--trans);

    > svg {
      width: 12px;
      height: 12px;
      fill: var(--color-neutral-0);
      transition: opacity var(--trans-fast);
    }
  }

  .Checked > svg {
    opacity: 1;
  }

  .Unchecked {
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-200);

    &:hover,
    &:focus {
      border-color: var(--color-neutral-500);
    }

    > svg {
      opacity: 0;
    }
  }

  > input {
    display: block;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
