@import '../../../styles/helper.scss';

.SelectContainer {
  display: inline-block;

  .Label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-neutral-700);
    user-select: none;
  }

  .Select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    min-width: 110px;
    width: 100%;
    color: var(--color-neutral-900);
    background-color: transparent;
    border: 1px solid transparent;
    transition: color var(--trans), background-color var(--trans), border-color var(--trans);
    cursor: pointer;

    &.Md {
      min-height: 50px;
      font-size: 18px;
    }

    &.Sm {
      min-height: 40px;
      font-size: 16px;
    }

    &.Rounded {
      border-radius: 26px;
    }

    &.Squared {
      border-radius: 6px;
    }

    &.Filled {
      background-color: var(--color-neutral-0);
      border-color: var(--color-neutral-200);

      &:hover,
      &:focus {
        border-color: var(--color-neutral-500);
      }
    }

    &.Outlined {
      padding-left: 0;
      padding-right: 0;
      border-width: 2px;
      border-bottom-color: var(--color-neutral-200);
      border-radius: 0;

      &:hover,
      &:focus {
        border-bottom-color: var(--color-neutral-500);
      }
    }

    &:disabled {
      color: var(--color-neutral-600);
      background-color: var(--color-neutral-100);
      pointer-events: none;
      cursor: default;

      > svg {
        color: var(--color-neutral-600);
      }
    }

    > span {
      width: inherit;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > svg {
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      color: var(--color-neutral-700);
      fill: currentColor;
      transition: transform var(--trans-fast);

      &.Up {
        transform: rotate(-90deg);
      }

      &.Down {
        transform: rotate(90deg);
      }
    }
  }
}

.SelectDropdown {
  position: absolute;
  transform: translate(-50%, 3px);
  padding: 0;
  max-height: 250px;
  list-style: none;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99100;

  &.Md {
    font-size: 16px;
  }

  &.Sm {
    font-size: 14px;
  }

  > li,
  > li > button {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  > li > button {
    padding: 10px 12px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-neutral-200);
    }

    &:disabled {
      color: var(--color-neutral-200);
      background-color: var(--color-white9);
      cursor: default;
      pointer-events: none;
    }
  }
}
