@import '../../../scss/variables';

.SelectContainer {
  position: relative;

  &.SizeSm {
    .Select,
    .Dropdown {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 22px;
    }

    .Select {
      padding: 8px 16px;
      padding-right: 44px;
    }
  }

  &.SizeMd {
    .Select,
    .Dropdown {
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
    }

    .Select {
      padding: 12px 16px;
      padding-right: 44px;
    }
  }

  &.Rounded .Select {
    border-radius: 26px;
  }

  &.Squared .Select {
    border-radius: 6px;
  }

  &.Disabled {
    cursor: default;
    pointer-events: none;

    .Select {
      color: var(--color-black4);
      background-color: var(--color-black9);
      border-color: var(--color-black8);
      cursor: inherit;
      pointer-events: inherit;
    }
  }

  &:not(.Disabled):hover,
  &:not(.Disabled):focus {
    .Select {
      border-color: var(--color-black5);

      > i {
        color: var(--color-black);
      }
    }
  }

  .Label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: var(--color-black);
  }

  .Select {
    position: relative;
    padding: 12px 16px;
    padding-right: 44px;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black8);
    transition: color var(--trans), background-color var(--trans), border-color var(--trans);
    user-select: none;
    cursor: pointer;

    > i {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: var(--color-black4);
      transition: color var(--trans);
    }
  }

  .Dropdown {
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translate(-50%, 100%);
    min-width: 100%;
    max-height: 250px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black8);
    border-radius: 3px;
    box-shadow: $nav-shadow;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999999100;
  }
}
