@import '../../../styles/helper.scss';

.SelectContainer {
  display: inline-block;
  position: relative;

  .Label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black3);
    user-select: none;
  }

  .Select {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    min-width: 80px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-black);
    background-color: transparent;
    border: 1px solid transparent;
    transition: color var(--trans), background-color var(--trans), border-color var(--trans);
    overflow: hidden;
    cursor: pointer;

    @include colorStyles($with-color: true, $with-background-color: false);

    @include textWeightStyles();

    &.Md {
      padding: 12px 16px;
      font-size: 18px;
    }

    &.Sm {
      padding: 9px 16px;
      font-size: 16px;
    }

    &.Rounded {
      border-radius: 26px;
    }

    &.Squared {
      border-radius: 6px;
    }

    &.Filled {
      background-color: var(--color-white);
      border-color: var(--color-black8);

      &:hover,
      &:focus {
        border-color: var(--color-black5);
      }
    }

    &.Outlined {
      padding-left: 0;
      padding-right: 0;
      border-width: 2px;
      border-bottom-color: var(--color-black8);
      border-radius: 0;

      &:hover,
      &:focus {
        border-bottom-color: var(--color-black5);
      }
    }

    &:disabled {
      color: var(--color-black4);
      background-color: var(--color-black9);
      pointer-events: none;
      cursor: default;

      > svg {
        color: var(--color-black4);
      }
    }

    > svg {
      width: 10px;
      height: 10px;
      color: var(--color-black3);
      fill: currentColor;
      transition: transform var(--trans-fast);

      &.Up {
        transform: rotate(-90deg);
      }

      &.Down {
        transform: rotate(90deg);
      }
    }
  }
}

.SelectDropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  max-height: 250px;
  list-style: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-black8);
  border-radius: 3px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99100;

  @include colorStyles($with-color: true, $with-background-color: false);

  @include textWeightStyles();

  &.Md {
    font-size: 16px;

    > li > button {
      padding: 8px 16px;
    }
  }

  &.Sm {
    font-size: 14px;

    > li > button {
      padding: 4px 12px;
    }
  }

  > li,
  > li > button {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  > li > button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-black8);
    }

    &:disabled {
      color: var(--color-black8);
      background-color: var(--color-white9);
      cursor: default;
      pointer-events: none;
    }
  }
}
