@import '../../../styles/helper.scss';

.Menu {
  position: absolute;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99090;

  @include positionStyles();

  @include colorStyles();

  .Childern {
    color: inherit;
  }
}
