.Switch {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @mixin colorStylesLocal($color) {
    .Checked {
      .Switcher {
        transform: translate(100%, -50%);
        background-color: $color;
      }

      .Line {
        background-color: $color;
      }
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-black2));
  }

  &.White {
    @include colorStylesLocal(var(--color-white));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-yellow));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-orange));
  }

  &.Red {
    @include colorStylesLocal(var(--color-red));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-rose));
  }

  &.Green {
    @include colorStylesLocal(var(--color-green));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-teal));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-turquoise));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-blue));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-purple));
  }

  &.Disabled {
    pointer-events: none;
    cursor: default;

    .Unchecked,
    .Checked {
      .Switcher {
        background-color: var(--color-black8);
      }

      .Line {
        background-color: var(--color-black8);
        opacity: 0.8;
      }
    }
  }

  .Label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black3);
    user-select: none;
  }

  .Unchecked,
  .Checked {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 0;
    width: 40px;
    cursor: pointer;
    overflow: hidden;

    .Switcher {
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: transform var(--trans), background-color var(--trans);
      z-index: 2;
    }

    .Line {
      display: block;
      position: relative;
      width: 100%;
      height: 14px;
      border-radius: 8px;
      transition: background-color var(--trans);
      opacity: 0.5;
      z-index: 1;
    }
  }

  .Unchecked {
    .Switcher {
      transform: translate(0, -50%);
      background-color: var(--color-black7);
    }

    .Line {
      background-color: var(--color-black7);
    }

    &:hover,
    &:focus {
      .Switcher {
        background-color: var(--color-black5);
      }

      .Line {
        background-color: var(--color-black5);
      }
    }
  }

  > input {
    display: block;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
