@import '../../../scss/variables';

.SwitchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  .Switch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 0;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    &.Checked {
      .Switcher {
        left: 0;
        transform: translate(100%, -50%);
      }
    }

    &.Checked.RedColor {
      .Switcher {
        background-color: var(--color-red5);
      }

      .Line {
        background-color: var(--color-red5);
      }
    }

    &.Checked.BlueColor {
      .Switcher {
        background-color: var(--color-blue);
      }

      .Line {
        background-color: var(--color-blue);
      }
    }

    &.Checked.TurquoiseColor {
      .Switcher {
        background-color: var(--color-turquoise);
      }

      .Line {
        background-color: var(--color-turquoise);
      }
    }

    &.SwitchDisabled {
      pointer-events: none;
      cursor: default;

      .Switcher {
        background-color: var(--color-black6);
      }

      .Line {
        background-color: var(--color-black6);
      }
    }

    .Switcher {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-color: var(--color-black5);
      border-radius: 50%;
      transition: transform 0.2s;
      z-index: 5;
    }

    .Line {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 14px;
      opacity: 0.5;
      background-color: var(--color-black5);
      border-radius: 7px;
      z-index: 4;
    }
  }

  .LabelLeft,
  .LabelRight {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    color: var(--color-black);
  }

  .LabelLeft {
    margin-right: 8px;
  }

  .LabelRight {
    margin-left: 8px;
  }
}
