@import '../../../styles/helper.scss';

.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  cursor: default;

  .Image {
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    width: inherit;
    height: inherit;
  }

  .Children {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    width: inherit;
    height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}
