@import '../../../../scss/variables';

@keyframes ProgressBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.Notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  margin-top: 20px;
  padding: 10px 15px;
  padding-bottom: 15px;
  max-height: 800px;
  min-height: 52px;
  width: 300px;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(var(--color-black), 0.1),
    0 2px 15px 0 rgba(var(--color-black), 0.05);
  cursor: pointer;
  overflow: hidden;

  &.success {
    background-color: #07bc0c;
  }

  &.danger {
    background-color: #e74c3c;
  }

  &.info {
    background-color: #3498db;
  }

  &.default {
    background-color: var(--color-white);
    color: var(--color-black3);

    .Progress {
      background-color: var(--color-black);
    }
  }

  &.dark {
    background-color: #121212;
  }

  &.warning {
    background-color: #f1c40f;
  }

  &:hover .CloseBtn {
    opacity: 1;
  }

  .CloseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: inherit;
    background-color: transparent;
    border: none;
    opacity: 0.8;
    transition: opacity var(--trans);
    cursor: inherit;

    i {
      color: inherit;
    }
  }

  .Title {
    margin: 0;
    color: inherit;
  }

  .Message {
    margin: 0;
    color: inherit;
    opacity: 0.9;
  }

  .Progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-white);
    opacity: 0.8;
    animation-name: ProgressBar;
    animation-fill-mode: forwards;
  }
}
