.Rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  cursor: default;

  .Stars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: inherit;
    direction: rtl;

    &.Hoverable {
      .InteractiveIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: inherit;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
          transition: fill var(--trans);
        }

        &:hover,
        &:hover ~ .InteractiveIcon {
          svg {
            fill: currentColor;
          }
        }
      }

      &:hover {
        svg {
          fill: var(--color-neutral-100);
        }
      }
    }

    svg {
      padding-left: 3px;
      padding-right: 3px;
      fill: var(--color-neutral-100);

      &.Checked {
        fill: currentColor;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .RatingNumber {
    font-weight: 500;
    color: var(--color-neutral-900);
  }
}
