@import '../../../styles/helper.scss';

.Option {
  display: block;
  padding: 8px 16px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  @include colorStyles($with-color: true, $with-background-color: false);

  @include textWeightStyles();

  &:not(:disabled):hover {
    background-color: var(--color-black8);
  }

  &:disabled {
    color: var(--color-black8);
    background-color: var(--color-white9);
    cursor: default;
    pointer-events: none;
  }
}
