@import '../../../scss/variables';

.Option {
  display: block;
  padding: 8px 16px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: var(--color-black);
  white-space: nowrap;
  transition: background-color var(--trans);
  user-select: none;
  cursor: pointer;

  &.Disabled {
    color: var(--color-black4);
    cursor: default;
    pointer-events: none;
  }

  &:not(.Disabled):hover {
    background-color: var(--color-black9);
  }
}
