:root {
  // Fonts
  --font-main: 'Aktiv Grotesk', sans-serif;
  --font-heading: 'Aktiv Grotesk Extended', sans-serif;

  --color-black: #000000;
  --color-black2: #1b1b1f;
  --color-black3: #424247;
  --color-black4: #76767a;
  --color-black5: #9e9ea5;
  --color-black6: #b6b6bc;
  --color-black7: #ceced2;
  --color-black8: #e8e8eb;
  --color-black9: #f2f2f4;
  --color-black10: #f9f9fb;

  --color-white: #ffffff;
  --color-green: #00993f;
  --color-turquoise: #23cdc3;
  --color-teal: #14aea5;
  --color-yellow: #f7d633;
  --color-orange: #ff9700;
  --color-blue: #4b99e6;
  --color-indigo: #29328d;
  --color-purple: #6525c2;
  --color-red: #e62b32;
  --color-rose: #ed2348;
  --color-pink: #ff9fc4;

  // Transition
  --trans-fast: 0.1s ease;
  --trans: 0.3s ease;
}
