*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
}

body {
  font-family: var(--font-main);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#app,
#root,
#__next {
  isolation: isolate;
}

.fui-family-main {
  font-family: var(--font-main);
}

.fui-family-heading {
  font-family: var(--font-heading);
}

.fui-weight-100 {
  font-weight: 100;
}

.fui-weight-200 {
  font-weight: 200;
}

.fui-weight-300 {
  font-weight: 300;
}

.fui-weight-400 {
  font-weight: 400;
}

.fui-weight-500 {
  font-weight: 500;
}

.fui-weight-600 {
  font-weight: 600;
}

.fui-weight-700 {
  font-weight: 700;
}

.fui-weight-800 {
  font-weight: 800;
}

.fui-weight-900 {
  font-weight: 900;
}
