// Breakpoints
$xs: 361px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
$xxl: 1401px;
$xxxl: 1981px;

@mixin colorStyles($with-color: true, $with-background-color: true) {
  &.Black {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-800);
    } @else if $with-color {
      color: var(--color-neutral-800);
    } @else if $with-background-color {
      background-color: var(--color-neutral-800);
    }
  }

  &.White {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-900);
      background-color: var(--color-neutral-0);
    } @else if $with-color {
      color: var(--color-neutral-0);
    } @else if $with-background-color {
      background-color: var(--color-neutral-0);
    }
  }

  &.Yellow {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-warning-400);
    } @else if $with-color {
      color: var(--color-warning-400);
    } @else if $with-background-color {
      background-color: var(--color-warning-400);
    }
  }

  &.Orange {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-warning-600);
    } @else if $with-color {
      color: var(--color-warning-600);
    } @else if $with-background-color {
      background-color: var(--color-warning-600);
    }
  }

  &.Red {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-danger-500);
    } @else if $with-color {
      color: var(--color-danger-500);
    } @else if $with-background-color {
      background-color: var(--color-danger-500);
    }
  }

  &.Rose {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-primary-400);
    } @else if $with-color {
      color: var(--color-primary-400);
    } @else if $with-background-color {
      background-color: var(--color-primary-400);
    }
  }

  &.Green {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-success-400);
    } @else if $with-color {
      color: var(--color-success-400);
    } @else if $with-background-color {
      background-color: var(--color-success-400);
    }
  }

  &.Teal {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-primary-600);
    } @else if $with-color {
      color: var(--color-primary-600);
    } @else if $with-background-color {
      background-color: var(--color-primary-600);
    }
  }

  &.Turquoise {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-primary-600);
    } @else if $with-color {
      color: var(--color-primary-600);
    } @else if $with-background-color {
      background-color: var(--color-primary-600);
    }
  }

  &.Blue {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-secondary-500);
    } @else if $with-color {
      color: var(--color-secondary-500);
    } @else if $with-background-color {
      background-color: var(--color-secondary-500);
    }
  }

  &.Purple {
    @if $with-color and $with-background-color {
      color: var(--color-neutral-0);
      background-color: var(--color-secondary-700);
    } @else if $with-color {
      color: var(--color-secondary-700);
    } @else if $with-background-color {
      background-color: var(--color-secondary-700);
    }
  }
}

@mixin positionStyles() {
  &.TopLeft {
    transform: translateY(calc(-100% - 5px));
  }

  &.Top {
    transform: translate(-50%, calc(-100% - 5px));
  }

  &.TopRight {
    transform: translate(-100%, calc(-100% - 5px));
  }

  &.RightTop {
    transform: translateX(5px);
  }

  &.Right {
    transform: translate(5px, -50%);
  }

  &.RightBottom {
    transform: translate(5px, -100%);
  }

  &.BottomLeft {
    transform: translateY(5px);
  }

  &.Bottom {
    transform: translate(-50%, 5px);
  }

  &.BottomRight {
    transform: translate(-100%, 5px);
  }

  &.LeftTop {
    transform: translateX(calc(-100% - 5px));
  }

  &.Left {
    transform: translate(calc(-100% - 5px), -50%);
  }

  &.LeftBottom {
    transform: translate(calc(-100% - 5px), -100%);
  }
}
