// Breakpoints
$xs: 361px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
$xxl: 1401px;
$xxxl: 1981px;

@mixin colorParamClasses($param: 'color') {
  .fui-#{$param}-primary-50 {
    #{$param}: var(--color-primary-50);
  }
  .fui-#{$param}-primary-100 {
    #{$param}: var(--color-primary-100);
  }
  .fui-#{$param}-primary-200 {
    #{$param}: var(--color-primary-200);
  }
  .fui-#{$param}-primary-300 {
    #{$param}: var(--color-primary-300);
  }
  .fui-#{$param}-primary-400 {
    #{$param}: var(--color-primary-400);
  }
  .fui-#{$param}-primary-500 {
    #{$param}: var(--color-primary-500);
  }
  .fui-#{$param}-primary-600 {
    #{$param}: var(--color-primary-600);
  }
  .fui-#{$param}-primary-700 {
    #{$param}: var(--color-primary-700);
  }
  .fui-#{$param}-primary-800 {
    #{$param}: var(--color-primary-800);
  }
  .fui-#{$param}-primary-900 {
    #{$param}: var(--color-primary-900);
  }

  .fui-#{$param}-secondary-50 {
    #{$param}: var(--color-secondary-50);
  }
  .fui-#{$param}-secondary-100 {
    #{$param}: var(--color-secondary-100);
  }
  .fui-#{$param}-secondary-200 {
    #{$param}: var(--color-secondary-200);
  }
  .fui-#{$param}-secondary-300 {
    #{$param}: var(--color-secondary-300);
  }
  .fui-#{$param}-secondary-400 {
    #{$param}: var(--color-secondary-400);
  }
  .fui-#{$param}-secondary-500 {
    #{$param}: var(--color-secondary-500);
  }
  .fui-#{$param}-secondary-600 {
    #{$param}: var(--color-secondary-600);
  }
  .fui-#{$param}-secondary-700 {
    #{$param}: var(--color-secondary-700);
  }
  .fui-#{$param}-secondary-800 {
    #{$param}: var(--color-secondary-800);
  }
  .fui-#{$param}-secondary-900 {
    #{$param}: var(--color-secondary-900);
  }

  .fui-#{$param}-neutral-50 {
    #{$param}: var(--color-neutral-50);
  }
  .fui-#{$param}-neutral-100 {
    #{$param}: var(--color-neutral-100);
  }
  .fui-#{$param}-neutral-200 {
    #{$param}: var(--color-neutral-200);
  }
  .fui-#{$param}-neutral-300 {
    #{$param}: var(--color-neutral-300);
  }
  .fui-#{$param}-neutral-400 {
    #{$param}: var(--color-neutral-400);
  }
  .fui-#{$param}-neutral-500 {
    #{$param}: var(--color-neutral-500);
  }
  .fui-#{$param}-neutral-600 {
    #{$param}: var(--color-neutral-600);
  }
  .fui-#{$param}-neutral-700 {
    #{$param}: var(--color-neutral-700);
  }
  .fui-#{$param}-neutral-800 {
    #{$param}: var(--color-neutral-800);
  }
  .fui-#{$param}-neutral-900 {
    #{$param}: var(--color-neutral-900);
  }

  .fui-#{$param}-success-50 {
    #{$param}: var(--color-success-50);
  }
  .fui-#{$param}-success-100 {
    #{$param}: var(--color-success-100);
  }
  .fui-#{$param}-success-400 {
    #{$param}: var(--color-success-400);
  }
  .fui-#{$param}-success-700 {
    #{$param}: var(--color-success-700);
  }

  .fui-#{$param}-warning-50 {
    #{$param}: var(--color-warning-50);
  }
  .fui-#{$param}-warning-100 {
    #{$param}: var(--color-warning-100);
  }
  .fui-#{$param}-warning-400 {
    #{$param}: var(--color-warning-400);
  }
  .fui-#{$param}-warning-600 {
    #{$param}: var(--color-warning-600);
  }
  .fui-#{$param}-warning-700 {
    #{$param}: var(--color-warning-700);
  }

  .fui-#{$param}-danger-50 {
    #{$param}: var(--color-danger-50);
  }
  .fui-#{$param}-danger-100 {
    #{$param}: var(--color-danger-100);
  }
  .fui-#{$param}-danger-300 {
    #{$param}: var(--color-danger-300);
  }
  .fui-#{$param}-danger-500 {
    #{$param}: var(--color-danger-500);
  }
  .fui-#{$param}-danger-600 {
    #{$param}: var(--color-danger-600);
  }
  .fui-#{$param}-danger-700 {
    #{$param}: var(--color-danger-700);
  }
}

@mixin positionStyles() {
  &.TopLeft {
    transform: translateY(calc(-100% - 5px));
  }

  &.Top {
    transform: translate(-50%, calc(-100% - 5px));
  }

  &.TopRight {
    transform: translate(-100%, calc(-100% - 5px));
  }

  &.RightTop {
    transform: translateX(5px);
  }

  &.Right {
    transform: translate(5px, -50%);
  }

  &.RightBottom {
    transform: translate(5px, -100%);
  }

  &.BottomLeft {
    transform: translateY(5px);
  }

  &.Bottom {
    transform: translate(-50%, 5px);
  }

  &.BottomRight {
    transform: translate(-100%, 5px);
  }

  &.LeftTop {
    transform: translateX(calc(-100% - 5px));
  }

  &.Left {
    transform: translate(calc(-100% - 5px), -50%);
  }

  &.LeftBottom {
    transform: translate(calc(-100% - 5px), -100%);
  }
}
