// Breakpoints
$xs: 361px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
$xxl: 1401px;
$xxxl: 1981px;

// Shadows
$card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$card-shadow-hover: 0px 4px 12px rgba(0, 0, 0, 0.1);
$popover-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$nav-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
$modal-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
$mockups-shadow: 24px 24px 40px rgba(0, 0, 0, 0.15), 24px 40px 80px rgba(0, 0, 0, 0.15);
