// Breakpoints
$xs: 361px;
$sm: 601px;
$md: 961px;
$lg: 1281px;
$xl: 1461px;
$xl2: 1921px;

// Shadows
$card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$card-shadow-hover: 0px 4px 12px rgba(0, 0, 0, 0.1);
$popover-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$nav-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
$modal-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
$mockups-shadow: 24px 24px 40px rgba(0, 0, 0, 0.15), 24px 40px 80px rgba(0, 0, 0, 0.15);
