@import '../../../scss/variables';

.Tag {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  &.smSize {
    gap: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;

    &.Rounded {
      border-radius: 20px;
    }

    &.Squared {
      border-radius: 5px;
    }

    > i {
      font-style: 15px;
    }
  }

  &.mdSize {
    gap: 10px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;

    &.Rounded {
      border-radius: 28px;
    }

    &.Squared {
      border-radius: 8px;
    }

    > i {
      font-style: 20px;
    }
  }

  &.lgSize {
    gap: 14px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 24px;

    &.Rounded {
      border-radius: 28px;
    }

    &.Squared {
      border-radius: 8px;
    }

    > i {
      font-style: 24px;
    }
  }

  &.Red {
    color: var(--color-pink-red);
    background-color: rgba(var(--color-pink-red), 0.1);
    transition: color var(--trans), background-color var(--trans);

    &.WithAction {
      cursor: pointer;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-pink-red);
      }
    }
  }

  &.Green {
    color: var(--color-teal);
    background-color: rgba(var(--color-teal), 0.1);
    transition: color var(--trans), background-color var(--trans);

    &.WithAction {
      cursor: pointer;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-teal);
      }
    }
  }

  &.Grey {
    color: var(--color-black);
    background-color: var(--color-black9);
  }

  &.White {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black8);

    > i {
      color: var(--color-pink-red);
    }
  }

  &.Light {
    font-weight: 400;
  }

  &.Normal {
    font-weight: 500;
  }

  &.Semibold {
    font-weight: 700;
  }

  &.Bold {
    font-weight: 800;
  }
}
