@import '../../../styles/helper.scss';

.CircleButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  background-color: var(--color-neutral-0);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: color var(--trans), background-color var(--trans), border-color var(--trans), box-shadow var(--trans);
  cursor: pointer;

  &.Sm {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }

  &.Md {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }

  &:hover {
    box-shadow: var(--shadow-1);

    &.Filled {
      background-color: var(--color-primary-200);
    }

    &.Outlined {
      border-color: var(--color-secondary-200);
    }
  }

  &:active {
    &.Filled {
      background-color: var(--color-primary-600);
    }

    &.Outlined {
      background-color: var(--color-secondary-200);
      border-color: var(--color-secondary-200);
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    &.Filled {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-100);
      border-color: var(--color-neutral-100);
    }

    &.Outlined {
      color: var(--color-neutral-100);
      background-color: var(--color-neutral-50);
      border-color: var(--color-neutral-100);
    }
  }
}
