@import '../../../styles/helper.scss';

.CircleButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: color var(--trans), background-color var(--trans), border-color var(--trans);
  cursor: pointer;

  &.Sm {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }

  &.Md {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }

  @mixin colorStylesLocal($color-primary, $color-secondary) {
    &.Filled {
      color: $color-secondary;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &.Outlined {
      color: $color-primary;
      background-color: transparent;
      border-color: $color-primary;
    }

    &:not(:disabled):hover {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-900);
      border-color: var(--color-neutral-900);
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-neutral-800), var(--color-neutral-0));
  }

  &.White {
    @include colorStylesLocal(var(--color-neutral-0), var(--color-neutral-900));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-warning-400), var(--color-neutral-0));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-warning-600), var(--color-neutral-0));
  }

  &.Red {
    @include colorStylesLocal(var(--color-danger-500), var(--color-neutral-0));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-primary-400), var(--color-neutral-0));
  }

  &.Green {
    @include colorStylesLocal(var(--color-success-400), var(--color-neutral-0));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-secondary-500), var(--color-neutral-0));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-secondary-700), var(--color-neutral-0));
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    &.Filled {
      color: var(--color-neutral-0);
      background-color: var(--color-neutral-400);
      border-color: var(--color-neutral-400);
    }

    &.Outlined {
      color: var(--color-neutral-400);
      background-color: var(--color-neutral-50);
      border-color: var(--color-neutral-400);
    }
  }
}
