@import '../../../styles/helper.scss';

.TooltipChildren {
  cursor: default;
}

.Tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 99100;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  @mixin colorStylesLocal($color-primary, $color-secondary) {
    color: $color-secondary;

    &:before {
      background-color: $color-primary;
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-black2), var(--color-white));
  }

  &.White {
    @include colorStylesLocal(var(--color-white), var(--color-black));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-yellow), var(--color-white));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-orange), var(--color-white));
  }

  &.Red {
    @include colorStylesLocal(var(--color-red), var(--color-white));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-rose), var(--color-white));
  }

  &.Green {
    @include colorStylesLocal(var(--color-green), var(--color-white));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-teal), var(--color-white));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-turquoise), var(--color-white));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-blue), var(--color-white));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-purple), var(--color-white));
  }

  @include positionStyles();

  .Content {
    position: relative;
    color: inherit;
    z-index: 99101;
  }
}
