@import '../../../styles/helper.scss';

.TooltipChildren {
  user-select: none;
}

.Tooltip {
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 99100;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  @mixin colorStylesLocal($color-primary, $color-secondary) {
    color: $color-secondary;

    &:before {
      background-color: $color-primary;
    }
  }

  &.Black {
    @include colorStylesLocal(var(--color-neutral-800), var(--color-neutral-0));
  }

  &.White {
    @include colorStylesLocal(var(--color-neutral-0), var(--color-neutral-900));
  }

  &.Yellow {
    @include colorStylesLocal(var(--color-warning-400), var(--color-neutral-0));
  }

  &.Orange {
    @include colorStylesLocal(var(--color-warning-600), var(--color-neutral-0));
  }

  &.Red {
    @include colorStylesLocal(var(--color-danger-500), var(--color-neutral-0));
  }

  &.Rose {
    @include colorStylesLocal(var(--color-primary-400), var(--color-neutral-0));
  }

  &.Green {
    @include colorStylesLocal(var(--color-success-400), var(--color-neutral-0));
  }

  &.Teal {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Turquoise {
    @include colorStylesLocal(var(--color-primary-600), var(--color-neutral-0));
  }

  &.Blue {
    @include colorStylesLocal(var(--color-secondary-500), var(--color-neutral-0));
  }

  &.Purple {
    @include colorStylesLocal(var(--color-secondary-700), var(--color-neutral-0));
  }

  @include positionStyles();

  .Childern {
    position: relative;
    color: inherit;
    z-index: 99101;
  }
}
