@import '../../../styles/helper.scss';

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;

  @include colorStyles($with-color: true, $with-background-color: false);

  > svg {
    display: block;
    fill: currentColor;
    background: none;
    shape-rendering: auto;
  }
}
