@import '../../../scss/variables';

.Badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  background-color: var(--color-red5);
  border-radius: 6px;
  cursor: default;

  &.Primary {
    color: var(--color-white);
    background-color: var(--color-red5);

    .XMarkBtn {
      color: var(--color-white);
    }
  }

  &.Green {
    color: var(--color-white);
    background-color: var(--color-green);

    .XMarkBtn {
      color: var(--color-white);
    }
  }

  &.Yellow {
    color: var(--color-black);
    background-color: var(--color-yellow);

    .XMarkBtn {
      color: var(--color-black);
    }
  }

  &.Blue {
    color: var(--color-white);
    background-color: var(--color-blue);

    .XMarkBtn {
      color: var(--color-white);
    }
  }

  &.Turquoise {
    color: var(--color-white);
    background-color: var(--color-turquoise);

    .XMarkBtn {
      color: var(--color-white);
    }
  }

  &.Grey {
    color: var(--color-black);
    background-color: var(--color-black8);

    .XMarkBtn {
      color: var(--color-black);
    }
  }

  &.SizeSm {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;

    &.Rounded {
      border-radius: 10px;
    }

    &.Squared {
      border-radius: 4px;
    }
  }

  &.SizeMd {
    padding: 4px 12px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    border-radius: 6px;

    &.Rounded {
      border-radius: 16px;
    }

    &.Squared {
      border-radius: 6px;
    }
  }

  .XMarkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    color: var(--color-white);
    border: none;
    background-color: transparent;
    opacity: 0.7;
    transition: opacity var(--trans);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .Content,
  * {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    white-space: nowrap;
    color: inherit;
  }
}
