@import '../../../styles/helper.scss';

.Badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px 12px;
  cursor: default;

  &.Sm {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;

    &.Rounded {
      border-radius: 10px;
    }

    &.Squared {
      border-radius: 4px;
    }
  }

  &.Md {
    padding: 4px 12px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    border-radius: 6px;

    &.Rounded {
      border-radius: 16px;
    }

    &.Squared {
      border-radius: 6px;
    }
  }

  @include colorStyles();

  @include textFamilyStyles();

  @include textWeightStyles();

  .Children {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    white-space: nowrap;
    color: inherit;
  }

  .XMark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 0;
    color: inherit;
    border: none;
    background-color: transparent;
    opacity: 0.8;
    transition: opacity var(--trans);
    cursor: pointer;

    > svg {
      width: 10px;
      height: 10px;
      fill: currentColor;
    }

    &:hover {
      opacity: 1;
    }
  }
}
