@import '../../../scss/variables';

.Rating {
  display: flex;
  align-items: center;

  &.Yellow .AllStars {
    &.Hoverable .RatingBtn {
      &:hover ~ .RatingBtn,
      &:hover {
        i {
          color: var(--color-yellow);
        }
      }
    }

    i.Checked {
      color: var(--color-yellow);
    }
  }

  &.Red .AllStars {
    &.Hoverable .RatingBtn {
      &:hover ~ .RatingBtn,
      &:hover {
        i {
          color: var(--color-red5);
        }
      }
    }

    i.Checked {
      color: var(--color-red5);
    }
  }

  &.Green .AllStars {
    &.Hoverable .RatingBtn {
      &:hover ~ .RatingBtn,
      &:hover {
        i {
          color: var(--color-turquoise);
        }
      }
    }

    i.Checked {
      color: var(--color-turquoise);
    }
  }

  &.Single {
    .AllRatingValue {
      margin-left: 8px;
    }
  }

  &.Multy {
    .AllRatingValue {
      margin-left: 12px;
    }
  }

  .AllStars {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.Hoverable {
      direction: rtl;

      .RatingBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        i {
          padding: 0;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        .Checked {
          color: var(--color-black7);
        }
      }
    }

    i {
      padding: 0 3px;
      font-size: 20px;
      transition: color var(--trans);

      &.Default {
        color: var(--color-black7);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .AllRatingValue {
    margin-left: 12px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    color: var(--color-black);
  }
}
