$icomoon-font-family: 'MM-Symbols' !default;

$icon-shield: '\e989';
$icon-bulb: '\e988';
$icon-court: '\e987';
$icon-chain: '\e984';
$icon-hand-trusted: '\e985';
$icon-chat: '\e982';
$icon-email: '\e983';
$icon-fancy-check-mark: '\e980';
$icon-empty-fancy-check-mark: '\e986';
$icon-blick: '\e926';
$icon-fire-filled: '\e981';
$icon-fire: '\e929';
$icon-boots: '\e97f';
$icon-musical: '\e97e';
$icon-border-circle: '\e97d';
$icon-lock: '\e97c';
$icon-solana: '\e95b';
$icon-tether: '\e95c';
$icon-litecoin: '\e95d';
$icon-cardano: '\e95f';
$icon-polkadot: '\e960';
$icon-xrp: '\e964';
$icon-uniswap: '\e965';
$icon-chainlink: '\e968';
$icon-dogecoin: '\e969';
$icon-ethereum: '\e96a';
$icon-oil: '\e96b';
$icon-gas: '\e96d';
$icon-sugar: '\e96f';
$icon-coffee: '\e970';
$icon-silver: '\e971';
$icon-platinum: '\e972';
$icon-bonds: '\e973';
$icon-car: '\e974';
$icon-comic-books: '\e975';
$icon-defi: '\e976';
$icon-metaverse: '\e977';
$icon-whiskey: '\e978';
$icon-sports-memorabilia: '\e979';
$icon-watches: '\e97a';
$icon-globe: '\e95a';
$icon-apartments: '\e955';
$icon-tractor: '\e956';
$icon-blockchain: '\e957';
$icon-controls: '\e958';
$icon-bitcoin: '\e959';
$icon-art: '\e944';
$icon-baseball-cap: '\e945';
$icon-get-coin: '\e946';
$icon-gold: '\e947';
$icon-robot: '\e948';
$icon-rocket: '\e949';
$icon-wineglass: '\e94a';
$icon-bear: '\e92b';
$icon-bull: '\e930';
$icon-hand: '\e931';
$icon-hand-click: '\e935';
$icon-hand-ok: '\e937';
$icon-location: '\e905';
$icon-cash: '\e90f';
$icon-scales: '\e916';
$icon-success: '\e917';
$icon-not-sure: '\e918';
$icon-error: '\e919';
$icon-growth: '\e91a';
$icon-icon-growth-big: '\e91d';
$icon-growth-medium: '\e91e';
$icon-growth-small: '\e920';
$icon-settings: '\e921';
$icon-point-up: '\e915';
$icon-point-right: '\e914';
$icon-point-down: '\e912';
$icon-point-left: '\e913';
$icon-dropdown-down: '\e909';
$icon-dropdown-up: '\e90a';
$icon-arrow-left: '\e906';
$icon-arrow-right: '\e907';
$icon-check-mark: '\e91b';
$icon-x-mark: '\e91c';
$icon-plus: '\e936';
$icon-minus: '\e932';
$icon-heart-filled: '\e92d';
$icon-heart: '\e92e';
$icon-star-filled: '\e938';
$icon-star: '\e939';
$icon-dots-vertical: '\e934';
$icon-dots-horizontal: '\e933';
$icon-sort: '\e93e';
$icon-hamburger-menu: '\e92a';
$icon-info: '\e92c';
$icon-warning: '\e942';
$icon-emoji-negative: '\e922';
$icon-emoji-neutral: '\e923';
$icon-emoji-positive: '\e924';
$icon-low-speed: '\e90d';
$icon-medium-speed: '\e90e';
$icon-hight-speed: '\e90c';
$icon-edit: '\e962';
$icon-copy: '\e95e';
$icon-delete: '\e961';
$icon-search: '\e93b';
$icon-eye-hide: '\e96c';
$icon-external-link: '\e925';
$icon-link: '\e92f';
$icon-share: '\e93d';
$icon-filter: '\e927';
$icon-user: '\e940';
$icon-play: '\e941';
$icon-play-top: '\e93a';
$icon-play-bottom: '\e93c';
$icon-poke: '\e963';
$icon-thumb-up-lined: '\e98a';
$icon-thumb-up: '\e93f';
$icon-part-of: '\e90b';
$icon-use-of-money: '\e910';
$icon-rising: '\e911';
$icon-compass: '\e91f';
$icon-quote: '\e96e';
$icon-gift: '\e928';
$icon-apple: '\e943';
$icon-twitter: '\e900';
$icon-reddit: '\e901';
$icon-linkedIn: '\e902';
$icon-instagram: '\e903';
$icon-facebook: '\e904';
$icon-mm-logo: '\e908';
$icon-verified-mark: '\e97b';
$icon-location-featured-path1: '\e953';
$icon-location-featured-path2: '\e954';
$icon-mm-old-logo-path1: '\e966';
$icon-mm-old-logo-path2: '\e967';
$icon-google-path1: '\e94b';
$icon-google-path2: '\e94c';
$icon-google-path3: '\e94d';
$icon-google-path4: '\e94e';
$icon-microsoft-path1: '\e94f';
$icon-microsoft-path2: '\e950';
$icon-microsoft-path3: '\e951';
$icon-microsoft-path4: '\e952';

[class^='icon-'],
[class*=' icon-'] {
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  > [class^='path'],
  > [class*=' path'] {
    font-family: inherit;
    color: inherit;
  }
}

.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-bulb {
  &:before {
    content: $icon-bulb;
  }
}
.icon-court {
  &:before {
    content: $icon-court;
  }
}
.icon-chain {
  &:before {
    content: $icon-chain;
  }
}
.icon-hand-trusted {
  &:before {
    content: $icon-hand-trusted;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-fancy-check-mark {
  &:before {
    content: $icon-fancy-check-mark;
  }
}
.icon-empty-fancy-check-mark {
  &:before {
    content: $icon-empty-fancy-check-mark;
  }
}
.icon-blick {
  &:before {
    content: $icon-blick;
  }
}
.icon-fire-filled {
  &:before {
    content: $icon-fire-filled;
  }
}
.icon-fire {
  &:before {
    content: $icon-fire;
  }
}
.icon-boots {
  &:before {
    content: $icon-boots;
  }
}
.icon-musical {
  &:before {
    content: $icon-musical;
  }
}
.icon-border-circle {
  &:before {
    content: $icon-border-circle;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-solana {
  &:before {
    content: $icon-solana;
  }
}
.icon-tether {
  &:before {
    content: $icon-tether;
  }
}
.icon-litecoin {
  &:before {
    content: $icon-litecoin;
  }
}
.icon-cardano {
  &:before {
    content: $icon-cardano;
  }
}
.icon-polkadot {
  &:before {
    content: $icon-polkadot;
  }
}
.icon-xrp {
  &:before {
    content: $icon-xrp;
  }
}
.icon-uniswap {
  &:before {
    content: $icon-uniswap;
  }
}
.icon-chainlink {
  &:before {
    content: $icon-chainlink;
  }
}
.icon-dogecoin {
  &:before {
    content: $icon-dogecoin;
  }
}
.icon-ethereum {
  &:before {
    content: $icon-ethereum;
  }
}
.icon-oil {
  &:before {
    content: $icon-oil;
  }
}
.icon-gas {
  &:before {
    content: $icon-gas;
  }
}
.icon-sugar {
  &:before {
    content: $icon-sugar;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-silver {
  &:before {
    content: $icon-silver;
  }
}
.icon-platinum {
  &:before {
    content: $icon-platinum;
  }
}
.icon-bonds {
  &:before {
    content: $icon-bonds;
  }
}
.icon-car {
  &:before {
    content: $icon-car;
  }
}
.icon-comic-books {
  &:before {
    content: $icon-comic-books;
  }
}
.icon-defi {
  &:before {
    content: $icon-defi;
  }
}
.icon-metaverse {
  &:before {
    content: $icon-metaverse;
  }
}
.icon-whiskey {
  &:before {
    content: $icon-whiskey;
  }
}
.icon-sports-memorabilia {
  &:before {
    content: $icon-sports-memorabilia;
  }
}
.icon-watches {
  &:before {
    content: $icon-watches;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-apartments {
  &:before {
    content: $icon-apartments;
  }
}
.icon-tractor {
  &:before {
    content: $icon-tractor;
  }
}
.icon-blockchain {
  &:before {
    content: $icon-blockchain;
  }
}
.icon-controls {
  &:before {
    content: $icon-controls;
  }
}
.icon-bitcoin {
  &:before {
    content: $icon-bitcoin;
  }
}
.icon-art {
  &:before {
    content: $icon-art;
  }
}
.icon-baseball-cap {
  &:before {
    content: $icon-baseball-cap;
  }
}
.icon-get-coin {
  &:before {
    content: $icon-get-coin;
  }
}
.icon-gold {
  &:before {
    content: $icon-gold;
  }
}
.icon-robot {
  &:before {
    content: $icon-robot;
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket;
  }
}
.icon-wineglass {
  &:before {
    content: $icon-wineglass;
  }
}
.icon-bear {
  &:before {
    content: $icon-bear;
  }
}
.icon-bull {
  &:before {
    content: $icon-bull;
  }
}
.icon-hand {
  &:before {
    content: $icon-hand;
  }
}
.icon-hand-click {
  &:before {
    content: $icon-hand-click;
  }
}
.icon-hand-ok {
  &:before {
    content: $icon-hand-ok;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-cash {
  &:before {
    content: $icon-cash;
  }
}
.icon-scales {
  &:before {
    content: $icon-scales;
  }
}
.icon-success {
  &:before {
    content: $icon-success;
  }
}
.icon-not-sure {
  &:before {
    content: $icon-not-sure;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-growth {
  &:before {
    content: $icon-growth;
  }
}
.icon-icon-growth-big {
  &:before {
    content: $icon-icon-growth-big;
  }
}
.icon-growth-medium {
  &:before {
    content: $icon-growth-medium;
  }
}
.icon-growth-small {
  &:before {
    content: $icon-growth-small;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-point-up {
  &:before {
    content: $icon-point-up;
  }
}
.icon-point-right {
  &:before {
    content: $icon-point-right;
  }
}
.icon-point-down {
  &:before {
    content: $icon-point-down;
  }
}
.icon-point-left {
  &:before {
    content: $icon-point-left;
  }
}
.icon-dropdown-down {
  &:before {
    content: $icon-dropdown-down;
  }
}
.icon-dropdown-up {
  &:before {
    content: $icon-dropdown-up;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-check-mark {
  &:before {
    content: $icon-check-mark;
  }
}
.icon-x-mark {
  &:before {
    content: $icon-x-mark;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-heart-filled {
  &:before {
    content: $icon-heart-filled;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-dots-vertical {
  &:before {
    content: $icon-dots-vertical;
  }
}
.icon-dots-horizontal {
  &:before {
    content: $icon-dots-horizontal;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.icon-hamburger-menu {
  &:before {
    content: $icon-hamburger-menu;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-emoji-negative {
  &:before {
    content: $icon-emoji-negative;
  }
}
.icon-emoji-neutral {
  &:before {
    content: $icon-emoji-neutral;
  }
}
.icon-emoji-positive {
  &:before {
    content: $icon-emoji-positive;
  }
}
.icon-low-speed {
  &:before {
    content: $icon-low-speed;
  }
}
.icon-medium-speed {
  &:before {
    content: $icon-medium-speed;
  }
}
.icon-hight-speed {
  &:before {
    content: $icon-hight-speed;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-eye-hide {
  &:before {
    content: $icon-eye-hide;
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-play-top {
  &:before {
    content: $icon-play-top;
  }
}
.icon-play-bottom {
  &:before {
    content: $icon-play-bottom;
  }
}
.icon-poke {
  &:before {
    content: $icon-poke;
  }
}
.icon-thumb-up-lined {
  &:before {
    content: $icon-thumb-up-lined;
  }
}
.icon-thumb-up {
  &:before {
    content: $icon-thumb-up;
  }
}
.icon-part-of {
  &:before {
    content: $icon-part-of;
  }
}
.icon-use-of-money {
  &:before {
    content: $icon-use-of-money;
  }
}
.icon-rising {
  &:before {
    content: $icon-rising;
  }
}
.icon-compass {
  &:before {
    content: $icon-compass;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-apple {
  &:before {
    content: $icon-apple;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-reddit {
  &:before {
    content: $icon-reddit;
  }
}
.icon-linkedIn {
  &:before {
    content: $icon-linkedIn;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-mm-logo {
  &:before {
    content: $icon-mm-logo;
  }
}
.icon-verified-mark {
  &:before {
    content: $icon-verified-mark;
    color: #ed2348;
  }
}
.icon-location-featured .path1 {
  &:before {
    content: $icon-location-featured-path1;
    color: rgb(255, 151, 0);
  }
}
.icon-location-featured .path2 {
  &:before {
    content: $icon-location-featured-path2;
    margin-left: -0.7333984375em;
    color: rgb(255, 255, 255);
  }
}
.icon-mm-old-logo .path1 {
  &:before {
    content: $icon-mm-old-logo-path1;
    color: rgb(66, 72, 235);
  }
}
.icon-mm-old-logo .path2 {
  &:before {
    content: $icon-mm-old-logo-path2;
    margin-left: -1em;
    color: rgb(51, 205, 113);
  }
}
.icon-google .path1 {
  &:before {
    content: $icon-google-path1;
    color: rgb(66, 133, 244);
  }
}
.icon-google .path2 {
  &:before {
    content: $icon-google-path2;
    margin-left: -1em;
    color: rgb(52, 168, 83);
  }
}
.icon-google .path3 {
  &:before {
    content: $icon-google-path3;
    margin-left: -1em;
    color: rgb(251, 188, 4);
  }
}
.icon-google .path4 {
  &:before {
    content: $icon-google-path4;
    margin-left: -1em;
    color: rgb(234, 67, 53);
  }
}
.icon-microsoft .path1 {
  &:before {
    content: $icon-microsoft-path1;
    color: rgb(246, 83, 20);
  }
}
.icon-microsoft .path2 {
  &:before {
    content: $icon-microsoft-path2;
    margin-left: -1em;
    color: rgb(127, 187, 65);
  }
}
.icon-microsoft .path3 {
  &:before {
    content: $icon-microsoft-path3;
    margin-left: -1em;
    color: rgb(0, 161, 241);
  }
}
.icon-microsoft .path4 {
  &:before {
    content: $icon-microsoft-path4;
    margin-left: -1em;
    color: rgb(255, 187, 0);
  }
}
