* {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  box-sizing: border-box;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

p a {
  display: inline;
  color: $color-red5;

  &:hover {
    text-decoration: underline;
  }
}

.modal-open {
  overflow: hidden !important;
  height: 100% !important;
}
