@import '../../../styles/helper.scss';

.Font {
  display: block;
  line-height: 1.3;
  overflow-wrap: break-word;
  color: var(--color-neutral-900);

  &.InheritToChildren {
    *:not(strong):not(b):not(i):not(a):not(:global(.fui-ignore)) {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      font-style: inherit !important;
      line-height: inherit !important;
      color: inherit;
    }

    strong:not(:global(.fui-ignore)),
    b:not(:global(.fui-ignore)) {
      font-family: inherit !important;
      font-size: inherit !important;
      font-style: inherit !important;
      line-height: inherit !important;
      color: inherit;
    }

    i:not(:global(.fui-ignore)) {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      color: inherit;
    }

    a:not(:global(.fui-ignore)) {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      font-style: inherit !important;
      line-height: inherit !important;
    }
  }
}
