.Skeleton {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  background-color: var(--color-black6);

  &.Block {
    display: flex;
  }

  &.Inline {
    display: inline-flex;
  }

  &.Rect {
    border-radius: 6px;
  }

  &.Circle {
    border-radius: 50%;
  }

  &.Pulse {
    animation: Pulse 1.5s ease-in-out 0.5s infinite;
  }

  &.Wave {
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, transparent, rgba(#76767a, 0.3), transparent);
      animation: Wave 1.6s linear 0.5s infinite;
      transform: translateX(-100%);
    }
  }

  @keyframes Pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes Wave {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
