.InputContainer {
  display: inline-block;

  .Label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-neutral-700);
    user-select: none;
  }

  .Textarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    color: var(--color-neutral-900);
    background-color: transparent;
    border: 1px solid transparent;
    transition: color var(--trans), background-color var(--trans), border-color var(--trans);

    &.Md {
      padding: 12px 16px;
      font-size: 18px;
    }

    &.Sm {
      padding: 10px 16px;
      font-size: 16px;
    }

    &.Rounded {
      border-radius: 26px;
    }

    &.Squared {
      border-radius: 6px;
    }

    &.Filled {
      background-color: var(--color-neutral-0);
      border-color: var(--color-neutral-200);

      &:hover,
      &:focus {
        border-color: var(--color-neutral-500);
      }
    }

    &.Outlined {
      padding-left: 0;
      padding-right: 0;
      border-width: 2px;
      border-bottom-color: var(--color-neutral-200);
      border-radius: 0;

      &:hover,
      &:focus {
        border-bottom-color: var(--color-neutral-500);
      }
    }

    &.Disabled {
      pointer-events: none;
      cursor: default;

      &.Filled {
        color: var(--color-neutral-600);
        background-color: var(--color-neutral-100);
      }

      &.Outlined {
        color: var(--color-neutral-200);
        border-bottom-color: var(--color-neutral-200);
      }
    }

    > textarea {
      flex: 1;
      padding: 0;
      min-width: 80px;
      width: inherit;
      font-size: inherit;
      color: inherit;
      background-color: transparent;
      border: none;

      &::placeholder {
        color: var(--color-neutral-500);
      }

      &:disabled {
        pointer-events: inherit;
        cursor: inherit;

        &::placeholder {
          color: var(--color-neutral-300);
        }
      }
    }
  }
}
